[defaults]

inventory = hosts

# dont worry about rsa fingerprints
host_key_checking = False

# disable gather facts
gather = explicit

# stating python interpreter_python
interpreter_python = /usr/bin/python3

deprecation_warnings = False

# retry file = gather the node that are failed the excution and save in this file (good for large environment)
# retry_files_enabled = False
#
ansible_connection = local
